body {
}

.background-container {
  scroll-behavior: smooth;
  min-height: 100vh;
  height: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.margin-left-7{
  margin-left: 7px;
}

.red {
  color: red;
}

.green-bold {
  font-weight: bold;
  color: green!important;
}